
        <h2>Productos</h2>
        <section class="producto-lista">
            <article class="producto-card">
                <img src="img8.png" alt="">
                <h3>Aretes perlas</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $20</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img2.png" alt="">
                <h3>Zapatos formales hombre</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $200</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img9.png" alt="">
                <h3>Cinturón color negro</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $50</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img10.png" alt="">
                <h3>Boina negra</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $30</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img11.png" alt="">
                <h3>Set de medias</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $5</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img12.png" alt="">
                <h3>Zapatillas negras</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $100</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img13.png" alt="">
                <h3>Zapatos blancos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $150</p>
                <button>Comprar</button>
            </article>

            <article class="producto-card">
                <img src="img14.png" alt="">
                <h3>Bolso mujer beige</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac ipsum nisl.</p>
                <p><strong>Precio:</strong> $60</p>
                <button>Comprar</button>
            </article>
        </section>

